<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>MENU</title>
<script type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/menu.css" >
</head>
<body>

<div class="name">
	<h1>JOE'S FAMILY DINER</h1>
</div>
		
<table style="width:100%">
  <tr>
    <th>BreakFast</th>
    <th>Lunch</th> 
    <th>Beverages</th>
  </tr>
  <tr>
    <td><label for="Pancakes"><b>Blueberry Pancakes</b></label>
			<input type="checkbox" id="pan" name="pancakes"/>$8.95</td>
    <td><label for="burger"><b>Cheeseburger</b></label>
			<input type="checkbox" id="burg" name="burger"/>$10.95</td>
    <td><label for="Coffee"><b>Black Coffee:</b></label>
			<input type="checkbox" id="cof" name="coffee" />$1.95</td>
  </tr>
  <tr>
    <td><label for="Omelette"><b>Vegetable Omelette</b></label>
			<input type="checkbox" id="oml"  name="omlette"/>$8.95</td>
    <td><label for="Wrap"><b>Teriyaki Wrap:</b></label>
			<input type="checkbox" id="rap" name="wrap" />$12.95</td>
    <td><label for="Tea"><b>Green Tea:</b></label>
			<input type="checkbox"id="te"  name="tea" />$11.95</td>
  </tr>
  <tr>
    <td> <label for="Croissant"><b>Croissant:</b></label>
			<input type="checkbox" id="cros" name="croissant"/>$5.95</td>
    <td><label for="salad"><b>Ceasar Salad:</b></label>
			<input type="checkbox" id="sal" name="sald" />$13.95</td>
    <td><label for="beer"><b>Corona Beer 12 oz:</b></label>
			<input type="checkbox" id="Ber" name="Beer" />$5.95</td>
  </tr>
  <tr>
    <td> <label for="Muffin"><b>Blueberry Muffin</b></label>
			<input type="checkbox" id="Muf"  name="muffin"/>$8.95</td>
    <td><label for="soup"><b>Tomato Soup:</b></label>
			<input type="checkbox" id="sou" name="soup" />$11.95</td>
    <td><label for="Milk"><b>Chocolate Milk:</b></label>
			<input type="checkbox" id="mil" name="milk" />$3.95</td>
  </tr>
</table>
	<div>
   	  	<form>
  			<input type="submit" value="Submit" id="sub">
  			<input type="reset" value="Reset">
		</form>
	</div>	
	<div style="margin-top: 10px;">
   		<button type="button">Total Amount</button>
   	</div>
	
  <script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>